# Recap

Python can be used from multiple interfaces.<br><br>
The best way to learn Python is to play with the language using an interactive environment like the ipython or Jupyter Notebooks. You just type code and hit ENTER or CNTRL-ENTER and immediately get the result.<br><br>
Your best companions are:
* TAB-completion to list the possible completions, and SHIFT-TAB to show the function signature + docstring inline.
* _type()_ and _dir()_ and _help()_ to get type info, info on what is defined in the namespace of an object, and more help on a specific function.
* If you have a question, mostly the answers are easy to find on Google / Stack Overflow  / ... One of the main advantages of open source software that is widely used.
* Also the python.org website has many good references. The most important is probably the [Python Library Reference](https://docs.python.org/3/library/index.html).

# ... On to more complex data structures

Apart of the basic numeric data types and strings discussed previously, Python has a rich set of more elaborate data structures.<br><br>
The standard build-in types are:
* **list**: a mutable sequence
* **tuple**: an immutable sequence
* **set**: a mutable / immutable collection of unique elements
* **dict**: mutable mapping form key to value
* **array**: mutable sequence of elements of the same type (contiguous in memory)
* **strings** revisited: an immutable sequence of characters

## List []

A mutable collection of elements, not nescesarrily of the same type.<br>
Unlike Sets, the list in Python are ordered and have a definite count.<br>
The elements in a list are indexed with 0 being the first index.

### Create a list with []

In [30]:
## initialize a list
lst01 = ['a','b','c','d',1,2,3,2,4]

### Indexing lst[ix] where ix is 0-based

In [3]:
## accessing elements of as list using [] --> note the first element = lst[0] aka --based
lst01[0]

'a'

In [4]:
## you can use negative indices to 'index from the end' od the list --> [-1] = last element
lst01[-1]

4

### Slicing lst[from:to] where to is exclusive

In [5]:
## note that a:b reads: from a to but not including b
## 1:4 --> 1,2,3
lst01[1:4]

['b', 'c', 'd']

In [8]:
## using negative indices works as expected
## -4:-1 --> -4,-3,-2 (so excluding the last element)
lst01[-4:-1]

[2, 3, 2]

In [10]:
## if you leave out the from or to, it is set to 0th & last element
## :3 --> 0,1,2
lst01[:3]

['a', 'b', 'c']

In [12]:
## -3: --> -3,-2,-1
lst01[-3:]

[3, 2, 4]

### Most generic form of slicing lst[from:to:step]

In [9]:
## 3:8:2 = 3,5,7 (remember not including the to=9)
lst01[3:9:2]

['d', 2, 2]

In [16]:
## a trick to efficiently reverse a list uses this slicing with negative step
lst01[::-1]

[4, 2, 3, 2, 1, 'd', 'c', 'b', 'a']

In [23]:
## instead of using a slice 'inline' we can also create a slice object
myslice = slice(0,len(lst01),2)

In [24]:
lst01[myslice]

['a', 'c', 1, 3, 4]

### Lists have a bunch of additional methods

In [26]:
## remember: dir lists the methods defined for lists
[m for m in  dir(lst01) if not(m.startswith('__'))]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
## append: to append an element at the end
lst01.append(5)
lst01

['a', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5]

In [32]:
## insert: to append an element before the element with index idx
lst01.insert(1,'two') ## before the index 1 = the second element
lst01

['a', 'two', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5]

In [33]:
## extend: to append a list at the end
lst01.extend(['discovery','analytics'])
lst01

['a', 'two', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5, 'discovery', 'analytics']

In [34]:
## pop element from the list --> default = last
print(lst01)
print(lst01.pop())
print(lst01)
## to pop the n-th element ... pass in n --> to pop the first element use pop(0)
print(lst01.pop(0))
print(lst01)

['a', 'two', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5, 'discovery', 'analytics']
analytics
['a', 'two', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5, 'discovery']
a
['two', 'b', 'c', 'd', 1, 2, 3, 2, 4, 5, 'discovery']

In [35]:
## check if element in the list
2 in lst01

True

In [36]:
lst01.index(2)

5

In [37]:
## to clear all elements from a list
lst01.clear()
lst01

[]

### List Comprehension

A list comprehension is very usefull way to populate / initialise a list.<br>
It has the following syntax:<br>
<pre>result = [expression <b>for</b> element <b>in</b> iterator <b>if</b> condtions]

In [47]:
## for instance to get a list of numbers from 0 to 10
[x for x in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
## to get a list of numbers squared from 0 to 10
[x*x for x in range(0,11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
## ## to get a list of numbers squared for the even numbers from 0 to 10
[x*x for x in range(0,11) if x % 2 == 0]

[0, 4, 16, 36, 64, 100]

In [54]:
## list comprehensions can be nested, somewhat counter intuitive
[  ix1 + ix2*10 + ix3*100
   for ix3 in range(1,3) ## changes when ix2 has done a full rotation
   for ix2 in range(1,3) ## changes when ix1 has done a full rotation
   for ix1 in range(1,3) ## changes fastest
]

[111, 112, 121, 122, 211, 212, 221, 222]

In [57]:
## this is equivalent to:
lst = []
for ix3 in range(1,3):
    for ix2 in range(1,3):
        for ix1 in range(1,3):
            lst.append(ix1 + ix2*10 + ix3*100)
lst

[111, 112, 121, 122, 211, 212, 221, 222]

## Tuple ()

A tuple is an **immutable** collection of elements not nescessarily of the same type.<br>
Tuples can be indexed and sliced just like lists, but individual elements cannot be changed!<br>
* Tuples are slightly more efficient than lists
* Tuples can be used as dictionary keys (see later) due to their immutablity
* Tuples are very usefull to force / ensure / communicate a fixed lenght structure<br>
  (a disctionary without keys or a struct in languages like C/C++)

### Create a tuple using ()

In [58]:
tpl01 = ('Life of Brian', 2, 'The Meaning of Life', 42)
tpl01

('Life of Brian', 2, 'The Meaning of Life', 42)

### Indexing tpl[ix] where ix is 0-based

In [62]:
tpl01[1]

2

In [63]:
tpl01[0:4:3] ## --> elements 0, 3

('Life of Brian', 42)

In [64]:
tpl01[::-1]

(42, 'The Meaning of Life', 2, 'Life of Brian')

### Additional methods

In [69]:
[m for m in dir(tpl01)]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [77]:
tpl01.index?

In [78]:
tpl01.index('The Meaning of Life')

2

In [76]:
tpl01.count?

In [79]:
tpl01.count(42)

1

### The dunder methods

The dunder methods are methods that are called by the python interpreter encounters certain operators / functions called for a specific type.<br>
For instance, the \_\_len\_\_() method of an object is called when the len() function is called on an object of that type.<br>
Or, the \_\_mul\_\_() function is called when the * operator is called.<br>
Or, the \_\_contains\_\_() function is called when the _in_ operator is called.<br><br> 
Once you start to use Python more often you can guess what these dunder methods do!

In [85]:
'abc'.__mul__(2)

'abcabc'

In [86]:
'abc' * 2

'abcabc'

In [87]:
'abc'.__contains__('b')

True

In [88]:
'b' in 'abc'

True

In [89]:
(1,2,3,4,5).__contains__(6)

False

In [90]:
6 in (1,2,3,4,5)

False

### Tuple Comprehension does not exist
The list compehension syntax with <b>[]</b> replaced by <b>()</b> gives a generator (a more advanced topic).<br>
Since a tuple is only used for fixed length structures, a comprehension is seldom needed.<br><br>
An easy way to create a tuple using a comprehension, you can wrap the generator created by 
<pre>
(operator <b>for</b> element <b>in</b> iterable <b>if</b> condition)
</pre>
in a tuple() call, so<br>
<pre>
tuple(operator <b>for</b> element <b>in</b> iterable <b>if</b> condition)
</pre>

In [91]:
tpl02 = tuple(e for e in range(50) if e%3 == 0)
tpl02

(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48)

In [84]:
tpl02.index(12)

4

## Set

A set is a mutable collection of unique elements

In [114]:
set01 = {'a','b','c','d'}
set02 =         {'c','d','e','f'}

In [94]:
[m for m in dir(set01) if not(m.startswith('__'))]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [95]:
set01.difference(set02)

{'a', 'b'}

In [96]:
set02.difference(set01)

{'e', 'f'}

In [97]:
set01.intersection(set02)

{'c', 'd'}

In [115]:
set01.add('g')
print(set01)
set01.add('a')
print(set01)

{'c', 'g', 'a', 'b', 'd'}
{'c', 'g', 'a', 'b', 'd'}

In [102]:
{'a','b'}.issubset({'a','b','c','d'})

True

In [103]:
{'a','e'}.issubset({'a','b','c','d'})

False

In [104]:
{'a','b','c','d'}.issuperset({'a','b'})

True

### Set operators

In [108]:
[m for m in dir(set01) if m.startswith('__')]

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__']

In [116]:
## intersection --> and
set01 & set02

{'c', 'd'}

In [117]:
set01.__and__(set02)

{'c', 'd'}

In [118]:
## union --> or
set01 | set02

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [120]:
set01.__or__(set02)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [121]:
set01.__ior__?

In [122]:
## set difference
set01 - set02

{'a', 'b', 'g'}

In [123]:
set01.__sub__(set02)

{'a', 'b', 'g'}

In [129]:
## symmetric difference / exclusive or --> xor
set01 ^ set02

{'a', 'b', 'g'}

In [128]:
## set diff is non-symmetrical
set01.__xor__(set02)

{'a', 'b', 'g'}

### Set Comprehension

The set compehension syntax is<br>
<pre>
result = {operator <b>for</b> element <b>in</b> iterable <b>if</b> condition}
</pre>

In [144]:
## cartesian product of sets
{f'{s1}{s2}' for s2 in [1,2,3] for s1 in ['a','b','c']}

{'a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3'}

## Dict

In [145]:
dict01 = {'a':1,'b':2,'c':3,'d':4,'e':5}
dict02 = {'d':4,'e':5,'f':6,'g':7,'h':8}

In [146]:
dict01.keys() & dict02.keys()

{'d', 'e'}

In [ ]:
super(type(dict01.keys()))

### Dict Comprehension

In [ ]:
{k:2*v for k,v in dict01.items()}

In [ ]:
def invert(d):
    return {v : k for k, v in d.items()}

In [ ]:
d = {0 : 'A', 1 : 'B', 2 : 'C', 3 : 'D'}
d

In [ ]:
invert(d)

## Array

A more efficient way to store a mutable ordered set of elements **of the same type** that is stored in a contigeous block of memory.<br>
For computation the **numpy** arrays are far more suitable!

In [64]:
import array as arr

In [65]:
a1 = arr.array('h',range(11))
# the first argument is the type code:
#-------------------------------------------------------
# Type code   C Type             Minimum size in bytes 
#-------------------------------------------------------
# 'b'         signed integer     1 
# 'B'         unsigned integer   1 
# 'u'         Unicode character  2 (see note) 
# 'h'         signed integer     2 
# 'H'         unsigned integer   2 
# 'i'         signed integer     2 
# 'I'         unsigned integer   2 
# 'l'         signed integer     4 
# 'L'         unsigned integer   4 
# 'q'         signed integer     8 (see note) 
# 'Q'         unsigned integer   8 (see note) 
# 'f'         floating point     4 
# 'd'         floating point     8

In [66]:
## buffer array gives the address and length of the array
a1.buffer_info()

(140103580403920, 11)

In [68]:
a1[0] = -10

In [69]:
a1.buffer_info()

(140103580403920, 11)

In [38]:
a1.append(11)
a1.buffer_info()

(140103580402768, 12)

In [39]:
a1.extend(range(100,110))
a1.buffer_info()

(140103579882920, 22)

In [5]:
a1.extend(range(100,110))
a1

array('h', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109])

In [6]:
a1.buffer_info()

(140103590567024, 20)

# Iterators

An iterator is any class/objetc that implements the iterator protocol, which implements the \_\_iter\_\_() method and the resulting iterator implements the \_\_next\_\_() method.<br>
Lists, tuples, dictionaries, and sets are all iterable objects.<br>
As are files, strings, dataframes, ...

In [44]:
def is_obj_iterable(obj):
    print('iterable' if '__iter__' in dir(obj) else 'not iterable')

In [45]:
## is an int iterable
is_obj_iterable(42)

not iterable

In [46]:
## is a list iterable
is_obj_iterable([1,2])

iterable

In [48]:
## is a tuple iterable
is_obj_iterable((1,2))

iterable

In [49]:
## is a dict iterable
is_obj_iterable({1:2})

iterable

In [50]:
## is a set iterable
is_obj_iterable({1,2})

iterable

In [51]:
## is a string iterable
is_obj_iterable('Nationwide')

iterable

In [52]:
## is a file iterable
is_obj_iterable(open('03 - control flow statements.ipynb','r'))

iterable

## Lets loop explicitly using the iter & next functions

In [53]:
## create an ordanary list
lst01 = ['one',2,'three',[1,2,3],'four']

In [136]:
for e in lst01: 
    print(e)

one
2
three
[1, 2, 3]
four

In [54]:
## get an iterator for this list
my_iter = iter(lst01)
## call next() on this iterator (which returns the current location and forwards one position)
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

one
2
three
[1, 2, 3]
four

In [55]:
## when you call next on an iterator that is 'exhausted' you get a StopIteration exception
print(next(my_iter))

StopIteration:

In [56]:
my_iter = iter(lst01)
e = next(my_iter)
while e: 
    print(e)
    try:
        e = next(my_iter)
    except:
        break

one
2
three
[1, 2, 3]
four

## Files

Files are itrable in Python.<br>
The easiest and most secure way to work with files in ython is by using a so called context manager.<br>
<pre>
with open(filename,'flag') as f:
    for line in f:
        do something with l
        ...
</pre>
The file is only open in the scope of the with context manager, so no need to close explicitly<br>
(the file is closed implicitly after the with scope is exited).

In [81]:
with open('03 - control flow statements.ipynb','r') as f:
    for ix,line in enumerate(f):
        print(line.strip())
        if ix>20:
            break

{
"cells": [
{
"cell_type": "markdown",
"metadata": {},
"source": [
"# Control Flow"
]
},
{
"cell_type": "markdown",
"metadata": {},
"source": [
"## If\n",
"<pre>\n",
"if condition1:\n",
"    do something\n",
"    ...\n",
"elif condition2:\n",
"    do something else\n",
"    ...\n",
"else:\n",

# Mixing and Mashing

In [85]:
list_of_tuples = [('a',1),('b',2),('d',3),('e',4)]
list_of_tuples

[('a', 1), ('b', 2), ('d', 3), ('e', 4)]

In [86]:
tuple_of_lists = tuple(list(t) for t in list_of_tuples)
tuple_of_lists

(['a', 1], ['b', 2], ['d', 3], ['e', 4])

In [87]:
dict_from_lot = {l[0]:l[1] for l in tuple_of_lists}
dict_from_lot

{'a': 1, 'b': 2, 'd': 3, 'e': 4}

In [91]:
[(k,v) for (k,v) in dict_from_lot.items()]

[('a', 1), ('b', 2), ('d', 3), ('e', 4)]

In [92]:
for cnt in ['one','two','three']:
    print(cnt)

one
two
three

In [101]:
## wrapping the iterable in an enumerate will, at each iteration: give an additional counter
for ix, cnt in enumerate(['one','two','thr']):
    print(ix, cnt)

0 one
1 two
2 thr

In [104]:
## we can zip arguments --> at each iteration the next element of each of the zipped arguments is returned
for iter_vals in zip(['one','two','thr'],[11,22,33],[(1,2),(2,3),(3,4)]):
    print(iter_vals)

('one', 11, (1, 2))
('two', 22, (2, 3))
('thr', 33, (3, 4))

In [105]:
## the arguements can be **unpacked** --> so that the individual elements are named
for z1, z2, (z31, z32) in zip(['one','two','thr'],[11,22,33],[(1,2),(2,3),(3,4)]):
    print(z1, ' ==> ', z2, ' ==> ', z31, ' ==> ', z32)

one  ==>  11  ==>  1  ==>  2
two  ==>  22  ==>  2  ==>  3
thr  ==>  33  ==>  3  ==>  4

In [ ]:
## what happens if the iterable arguments to zip have a different length ???
## try it!

In [106]:
for ix, (z1, z2, (z31, z32)) in enumerate(zip(['one','two','thr'],[11,22,33],[(1,2),(2,3),(3,4)])):
    print(ix, ' : ', z1, ' ==> ', z2, ' ==> ', z31, ' ==> ', z32)

0  :  one  ==>  11  ==>  1  ==>  2
1  :  two  ==>  22  ==>  2  ==>  3
2  :  thr  ==>  33  ==>  3  ==>  4