# Python

Python is an interpreted language, contrast this with a compiled language.

By using an interpreted language, we can quickly try out snippets of code and get feedback immediately.

We have Python 2.7 installed

We are using Python through Jupyter Notebook.

A Jupyter Notebook consists of cells.

A cell in Jupyter can be in one of two modes: code or markdown.

https://docs.python.org/2/index.html

http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Working%20With%20Markdown%20Cells.html

## Python is very sensitive to indentation

Python uses indentation to group code blocks together, this is different to allmost all other languages.

This choice was made to force you to spend time on layout of your code, which is very important for readability. 

Get the indentation wrong and Python will throw you an **IndentationError**. 

Nothing to worry about, just fix the error and rerun. The most usefull information is usually provided in the last few lines that Python will throw at you.

In [3]:
for ix in range(1,6,1):
    ix = ix * 1.1
    print ix

1.1
2.2
3.3
4.4
5.5

# And now, for something completely different ...

Below are some simple snippets to give a flavor of the basic data types and concepts

# Data Types

## Numbers: Int, Float, Long, Complex

In [1]:
a = 42
type(a)

int

In [6]:
b = 1.1
type(b)

float

In [7]:
z = 2+3j
print(z)
print(z.real)
print(z.imag)
print(z.conjugate())
print(z * z)

(2+3j)
2.0
3.0
(2-3j)
(-5+12j)

## String

In [9]:
s8 = 'This is a string.'
type(s8)

str

In [15]:
s8.find('string')

10

In [11]:
s8[10:]

'string.'

In [12]:
'string' in s8

True

In [15]:
## actual memory address of the string object s8
print('Address of s8 = {}'.format(hex(id(s8))))
## if you make a copy the address is the same --> strings are immutable
s9 = s8
print('After s9 = s8 -> address of s9 = {}'.format(hex(id(s9))))
## strings are immutable --> cannot change a single character
try:
    s8[16] = '!'
except: 
    print('''\nOops: s8[16] = '!' -> raises an exception!\n''')
    s8 = s8[:15] + '!'
print('''After s8 = s8[:15] + '!' -> the address of s8 = {}'''.format(hex(id(s8))))

Address of s8 = 0xcc718e8
After s9 = s8 -> address of s9 = 0xcc718e8

Oops: s8[16] = '!' -> raises an exception!

After s8 = s8[:15] + '!' -> the address of s8 = 0xc612f18

## List [...] 

* **Mutable** collection of possibly different types
* Indexed by position
* 0-based

In [16]:
## a list can contain objects of all types including lists
alist = ['Arnold', 93, [1,2,3]]
alist[1] = 91
alist

['Arnold', 91, [1, 2, 3]]

In [18]:
[ix**2 for ix in range(5)]

[0, 1, 4, 9, 16]

In [19]:
## list comprehention is a powerfull way to create list
blist = [ix**2 for ix in range(20) if ix%2 == 0]
blist

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

## Tuple (...)

* **Immutable** collection of possibly different types
* Indexed by position
* 0-based

In [20]:
atuple = ('Arnold', 93, [1,2,3])
try:
    atuple[1] = 91
except:
    ## just catch - do nothing
    pass

atuple

('Arnold', 93, [1, 2, 3])

## Dictionary {'key' : value, }

* **Mutable** collection of possibly different types
* Indexed by **key**
* Basically a key - value store

In [21]:
adict = {'VAR1': 1, 'VAR2': [1,2,3], 'VAR3': (3,2,1)}
adict['VAR1'] = 2
adict['VAR4'] = 'added'
adict

{'VAR1': 2, 'VAR2': [1, 2, 3], 'VAR3': (3, 2, 1), 'VAR4': 'added'}

In [22]:
adict.keys()

dict_keys(['VAR1', 'VAR2', 'VAR3', 'VAR4'])

In [23]:
adict.values()

dict_values([2, [1, 2, 3], (3, 2, 1), 'added'])

In [26]:
# f-strings in python 3.7
for key, value in adict.items():
    print(f'The value for key {key} = {value} which is a {type(value)}'.format(key, value, type(value)))

The value for key VAR1 = 2 which is a <class 'int'>
The value for key VAR2 = [1, 2, 3] which is a <class 'list'>
The value for key VAR3 = (3, 2, 1) which is a <class 'tuple'>
The value for key VAR4 = added which is a <class 'str'>

# Control Flow

## If

Note the indentation is crucial! Otherwise if ... elif ... else is the same as in any other language

In [28]:
number = 0
if number < 0:
    print('Negative')
elif number > 0:
    print('Positive')
else:
    print('Zero')

Zero

## For

With for you can loop over any collection that is iterable, include all sequence types (such as list, str, and tuple)

In [30]:
## LOOP OVER LIST
for item in [1,2,3]:
    print(item)

1
2
3

In [32]:
## LOOP OVER LIST USING ENUMERATE
for idx, val in enumerate([1,2,3]):
    print(f'Pos {idx} in the list has value {val}')

Pos 0 in the list has value 1
Pos 1 in the list has value 2
Pos 2 in the list has value 3

In [33]:
## LOOP OVER TUPLE USING ENUMERATE
for idx, val in enumerate((3,2,1)):
    print(f'Pos {idx} in the tuple has value {val}')

Pos 0 in the tuple has value 3
Pos 1 in the tuple has value 2
Pos 2 in the tuple has value 1

In [34]:
## LOOP OVER DICTIONARY USING ITERITEMS
for key, val in {'A':11,'C':33,'B':[2,22,222]}.items():
    print(f'Key {key} in the dictionary has value {val}')

Key A in the dictionary has value 11
Key C in the dictionary has value 33
Key B in the dictionary has value [2, 22, 222]

# Functions

In [36]:
## note the indentation
def function_without_arguments():
    print('Nothing passed in!')

function_without_arguments()

Nothing passed in!

In [37]:
def function_with_arguments(rep):
    for ix in range(1,rep+1):
        print(f'Passed in {rep}: loop {ix} of {rep}')

function_with_arguments(3)

Passed in 3: loop 1 of 3
Passed in 3: loop 2 of 3
Passed in 3: loop 3 of 3

In [38]:
def function_returning_something(x):
    return(2*x)

return_val = function_returning_something(11)
return_val

22

In [41]:
# you can return a function --> lambda's are anonymous functions
def function_returning_function(times):
    return(lambda x: times*x)

times_3 = function_returning_function(3)
print(times_3)
print(times_3(9))

<function function_returning_function.<locals>.<lambda> at 0x000000000CBB4620>
27

In [42]:
## lambda notation / 'anonymous function'
times_4 = lambda x: 4*x
times_4(5)

20

# List comprehension

In [43]:
## Very powerfull way to create lists
list_created = [rval+5 for rval in range(10) if (rval%2) == 0]
list_created

[5, 7, 9, 11, 13]

In [44]:
## Lets make a list of functions
def times_x(x):
    return(lambda y: x*y)

functs = [times_x(rval) for rval in range(10)]

for ix in range(10):
    print(f'Calling function at position {ix} ({functs[ix]}) with argument 5 ==> gives {functs[ix](5)}')

Calling function at position 0 (<function times_x.<locals>.<lambda> at 0x00000000058CAF28>) with argument 5 ==> gives 0
Calling function at position 1 (<function times_x.<locals>.<lambda> at 0x000000000C6048C8>) with argument 5 ==> gives 5
Calling function at position 2 (<function times_x.<locals>.<lambda> at 0x0000000009D18E18>) with argument 5 ==> gives 10
Calling function at position 3 (<function times_x.<locals>.<lambda> at 0x0000000009D18F28>) with argument 5 ==> gives 15
Calling function at position 4 (<function times_x.<locals>.<lambda> at 0x0000000009D186A8>) with argument 5 ==> gives 20
Calling function at position 5 (<function times_x.<locals>.<lambda> at 0x0000000009D18620>) with argument 5 ==> gives 25
Calling function at position 6 (<function times_x.<locals>.<lambda> at 0x0000000009D18598>) with argument 5 ==> gives 30
Calling function at position 7 (<function times_x.<locals>.<lambda> at 0x0000000009D18840>) with argument 5 ==> gives 35
Calling function at position 8 (<function times_x.<locals>.<lambda> at 0x0000000009D18730>) with argument 5 ==> gives 40
Calling function at position 9 (<function times_x.<locals>.<lambda> at 0x0000000009D187B8>) with argument 5 ==> gives 45